<mat-dialog-content *ngIf="data.product" class="mat-typography">
  <div class="dialog-content">
    <mat-form-field appearance="outline">
      <mat-label>Title</mat-label>
      <input [(ngModel)]="data.product.title" matInput [disabled]="!isTypeToEqualEdit">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-select [(ngModel)]="data.product.category" [disabled]="!isTypeToEqualEdit">
        @for (category of productCategories; track category) {
        <mat-option [value]="category.value">{{ category.viewValue }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <div class="img-dialog-content">
      <img class="img-dialog" [src]="data.product.image" alt="Image to product">

      <mat-form-field appearance="outline" class="img-link">
        <mat-label>Link to image</mat-label>
        <input [(ngModel)]="data.product.image" matInput [disabled]="!isTypeToEqualEdit">
      </mat-form-field>
    </div>

    <mat-form-field appearance="outline">
      <mat-label>Price</mat-label>
      <input [(ngModel)]="data.product.price" matInput [disabled]="!isTypeToEqualEdit">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea class="textarea-dialog" [(ngModel)]="data.product.description" matInput
        [disabled]="!isTypeToEqualEdit"></textarea>
    </mat-form-field>
  </div>
</mat-dialog-content>
<mat-dialog-actions *ngIf="data.product" align="end">
  <button class="btn-close" mat-raised-button (click)="cancel()">
    {{ isTypeToEqualEdit ? 'Cancel' : 'Close' }}
  </button>
  <button *ngIf="isTypeToEqualEdit" class="btn-update" mat-raised-button color="primary"
    (click)="updateProduct()">Update</button>
</mat-dialog-actions>