<mat-dialog-content *ngIf="productForm" class="mat-typography">
  <div [formGroup]="productForm" class="dialog-content">
    <mat-form-field appearance="outline">
      <mat-label>Title</mat-label>
      <input formControlName="title" matInput>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-select formControlName="category">
        @for (category of data.categories; track category) {
        <mat-option [value]="category.value">{{ category.viewValue }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <div class="img-dialog-content">
      <img class="img-dialog" [src]="productForm.get('image')?.value" alt="Image to product">

      <mat-form-field appearance="outline" class="img-link">
        <mat-label>Link to image</mat-label>
        <input formControlName="image" matInput>
      </mat-form-field>
    </div>

    <mat-form-field appearance="outline">
      <mat-label>Price</mat-label>
      <input formControlName="price" matInput>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea class="textarea-dialog" formControlName="description" matInput></textarea>
    </mat-form-field>
  </div>
</mat-dialog-content>
<mat-dialog-actions *ngIf="data.product" align="end">
  <button class="btn-close" mat-raised-button (click)="cancel()">
    {{ isTypeToEqualEdit ? 'Cancel' : 'Close' }}
  </button>
  <button *ngIf="isTypeToEqualEdit" class="btn-update" mat-raised-button color="primary"
    (click)="updateProduct()">Update</button>
</mat-dialog-actions>